In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tushare as ts

with open('../../tushare_token.txt', 'r') as f:
    token = f.readline()

ts.set_token(token)
tushare_api = ts.pro_api()

%matplotlib inline
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [2]:
df_income = pd.read_csv('../../data/financial_statements/income_sheet.csv')
df_income = df_income[df_income['end_date'].apply(lambda x: str(x)[4:]=='1231')]
df_income.drop_duplicates(subset=['end_date', 'ts_code'], keep='last', inplace=True)
df_income['end_date'] = df_income['end_date'].apply(lambda x: int(x/10000))
df_income['ts_code'] = df_income['ts_code'].apply(lambda x: x[:6])

df_income.set_index(['end_date', 'comp_type', 'ts_code'], inplace=True)
df_income.index.names = [None, 'comp_type', 'code']

df_income_r = df_income[['revenue']]
df_income_tr = df_income[['total_revenue']]

df_income_r = df_income_r.unstack([1, 2]).T
df_income_r.reset_index(inplace=True)
df_income_r = df_income_r.drop(['level_0'], axis=1)
df_income_r.set_index('code', inplace=True)
# df_income_r.to_csv('../../data/revenue/revenue.csv', index=True)

df_income_tr = df_income_tr.unstack([1, 2]).T
df_income_tr.reset_index(inplace=True)
df_income_tr = df_income_tr.drop(['level_0'], axis=1)
df_income_tr.set_index('code', inplace=True)
# df_income_r.to_csv('../../data/revenue/total_revenue.csv', index=True)

In [3]:
df_income_r.head()

,comp_type,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
code,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
000001,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.869233e+09,1.963738e+09,1.724955e+09,1.812893e+09,2.597464e+09,3.769718e+09,3.850803e+09,5.273549e+09,5.450551e+09,7.135218e+09,1.080750e+10,1.451312e+10,1.511444e+10,1.802228e+10,2.964306e+10,3.974865e+10,5.218900e+10,7.340700e+10,9.616300e+10,1.077150e+11,1.057860e+11,1.167160e+11,1.379580e+11
000002,1.0,NaN,NaN,NaN,NaN,NaN,1.084045e+09,1.227544e+09,1.503755e+09,1.177714e+09,1.947641e+09,2.246117e+09,2.872796e+09,3.783669e+09,4.455065e+09,4.574360e+09,6.380060e+09,7.667226e+09,1.055885e+10,1.791833e+10,3.552661e+10,4.099178e+10,4.888101e+10,5.071385e+10,7.178275e+10,1.031162e+11,1.354188e+11,1.463880e+11,1.955491e+11,2.404772e+11,2.428971e+11,2.976793e+11,3.678939e+11
000004,1.0,NaN,NaN,NaN,NaN,9.480596e+07,2.117347e+08,2.051317e+08,6.436075e+08,3.330931e+08,3.386076e+08,1.207312e+08,1.256476e+08,1.310066e+08,6.198446e+07,1.212256e+08,1.195350e+08,1.067478e+08,6.137672e+07,4.766864e+07,4.044954e+07,4.331482e+07,6.008060e+07,1.313315e+08,7.450372e+07,9.736330e+07,7.278457e+07,8.060882e+07,1.204544e+08,2.876700e+08,1.386058e+08,3.668688e+08,1.082467e+08
000005,1.0,NaN,NaN,NaN,NaN,NaN,3.406867e+07,3.002047e+08,2.508866e+08,1.071974e+08,4.076809e+07,4.157128e+07,1.355727e+08,1.459475e+08,6.712823e+07,5.494323e+07,9.157534e+07,4.937819e+07,4.539573e+07,3.307376e+08,2.990316e+08,1.087203e+08,4.319248e+07,1.372342e+08,6.353484e+07,9.942123e+07,5.206170e+07,5.277699e+07,8.412597e+07,4.818634e+08,5.309222e+08,4.861810e+08,5.526091e+08
000006,1.0,NaN,9273600.0,31750411.65,83825196.6,1.081658e+08,1.510638e+08,1.359192e+08,1.101105e+08,1.852225e+08,1.304273e+09,1.641849e+09,1.942494e+09,1.883722e+09,2.024190e+09,2.084211e+09,1.988931e+09,1.876976e+09,1.433865e+09,1.254539e+09,1.024038e+09,1.021745e+09,1.849236e+09,2.338735e+09,2.589275e+09,3.076245e+09,4.610855e+09,2.328730e+09,3.654309e+09,3.358826e+09,2.959450e+09,2.511844e+09,3.731330e+09

In [4]:
df_income_tr.head()

,comp_type,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
code,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
000001,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.869233e+09,1.963738e+09,1.724955e+09,1.812893e+09,2.597464e+09,3.769718e+09,3.850803e+09,5.273549e+09,5.450551e+09,7.135218e+09,1.080750e+10,1.451312e+10,1.511444e+10,1.802228e+10,2.964306e+10,3.974865e+10,5.218900e+10,7.340700e+10,9.616300e+10,1.077150e+11,1.057860e+11,1.167160e+11,1.379580e+11
000002,1.0,NaN,NaN,NaN,NaN,NaN,1.084045e+09,1.227544e+09,1.503755e+09,1.177714e+09,1.947641e+09,2.246117e+09,2.872796e+09,3.783669e+09,4.455065e+09,4.574360e+09,6.380060e+09,7.667226e+09,1.055885e+10,1.791833e+10,3.552661e+10,4.099178e+10,4.888101e+10,5.071385e+10,7.178275e+10,1.031162e+11,1.354188e+11,1.463880e+11,1.955491e+11,2.404772e+11,2.428971e+11,2.976793e+11,3.678939e+11
000004,1.0,NaN,NaN,NaN,NaN,9.480596e+07,2.117347e+08,2.051317e+08,6.436075e+08,3.330931e+08,3.386076e+08,1.207312e+08,1.256476e+08,1.310066e+08,6.198446e+07,1.212256e+08,1.195350e+08,1.067478e+08,6.137672e+07,4.766864e+07,4.044954e+07,4.331482e+07,6.008060e+07,1.313315e+08,7.450372e+07,9.736330e+07,7.278457e+07,8.060882e+07,1.204544e+08,2.876700e+08,1.386058e+08,3.668688e+08,1.082467e+08
000005,1.0,NaN,NaN,NaN,NaN,NaN,3.406867e+07,3.002047e+08,2.508866e+08,1.071974e+08,4.076809e+07,4.157128e+07,1.355727e+08,1.459475e+08,6.712823e+07,5.494323e+07,9.157534e+07,4.937819e+07,4.539573e+07,3.307376e+08,2.990316e+08,1.087203e+08,4.319248e+07,1.372342e+08,6.353484e+07,9.942123e+07,5.206170e+07,5.277699e+07,8.412597e+07,4.818634e+08,5.309222e+08,4.861810e+08,5.526091e+08
000006,1.0,NaN,9273600.0,31750411.65,83825196.6,1.081658e+08,1.510638e+08,1.359192e+08,1.101105e+08,1.852225e+08,1.304273e+09,1.641849e+09,1.942494e+09,1.883722e+09,2.024190e+09,2.084211e+09,1.988931e+09,1.876976e+09,1.433865e+09,1.254539e+09,1.024038e+09,1.021745e+09,1.849236e+09,2.338735e+09,2.589275e+09,3.076245e+09,4.610855e+09,2.328730e+09,3.654309e+09,3.358826e+09,2.959450e+09,2.511844e+09,3.731330e+09

In [5]:
len(df_income_r.index.values) == df_income_r.dropna(how='all').index.values)

SyntaxError: invalid syntax (<ipython-input-5-7939a3ef9aa5>, line 1)

In [ ]:
double_list = []
i = None
for v in df_income_r.index.values.tolist():
    if i == v:
        double_list.append(i)
    i = v
with open('../../data/revenue/double_comp_type.txt', 'w') as f:
    f.write(str(double_list))

In [7]:
df_income = pd.read_csv('../../data/financial_statements/income_sheet.csv')
df_income = df_income[df_income['end_date'].apply(lambda x: str(x)[4:]=='1231')]
df_income.drop_duplicates(subset=['end_date', 'ts_code'], keep='last', inplace=True)
df_income['end_date'] = df_income['end_date'].apply(lambda x: int(x/10000))
df_income['ts_code'] = df_income['ts_code'].apply(lambda x: x[:6])

df_income.set_index(['end_date', 'ts_code'], inplace=True)
df_income.index.names = [None, 'code']

df_income_r = df_income[['revenue']]
df_income_tr = df_income[['total_revenue']]

df_income_r = df_income_r.unstack(1).T
df_income_r.reset_index(inplace=True)
df_income_r = df_income_r.drop(['level_0'], axis=1)
df_income_r.set_index('code', inplace=True)
df_income_r.to_csv('../../data/revenue/revenue.csv', index=True)

df_income_tr = df_income_tr.unstack(1).T
df_income_tr.reset_index(inplace=True)
df_income_tr = df_income_tr.drop(['level_0'], axis=1)
df_income_tr.set_index('code', inplace=True)
df_income_r.to_csv('../../data/revenue/total_revenue.csv', index=True)

In [8]:
df_income_r.head()

,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
code,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
000001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.869233e+09,1.963738e+09,1.724955e+09,1.812893e+09,2.597464e+09,3.769718e+09,3.850803e+09,5.273549e+09,5.450551e+09,7.135218e+09,1.080750e+10,1.451312e+10,1.511444e+10,1.802228e+10,2.964306e+10,3.974865e+10,5.218900e+10,7.340700e+10,9.616300e+10,1.077150e+11,1.057860e+11,1.167160e+11,1.379580e+11
000002,NaN,NaN,NaN,NaN,NaN,1.084045e+09,1.227544e+09,1.503755e+09,1.177714e+09,1.947641e+09,2.246117e+09,2.872796e+09,3.783669e+09,4.455065e+09,4.574360e+09,6.380060e+09,7.667226e+09,1.055885e+10,1.791833e+10,3.552661e+10,4.099178e+10,4.888101e+10,5.071385e+10,7.178275e+10,1.031162e+11,1.354188e+11,1.463880e+11,1.955491e+11,2.404772e+11,2.428971e+11,2.976793e+11,3.678939e+11
000003,NaN,NaN,NaN,4.686457e+08,7.877559e+08,1.054117e+09,1.072384e+09,9.011976e+08,6.702301e+08,5.260995e+08,5.241975e+08,4.804177e+08,4.647235e+08,3.660670e+07,2.070079e+07,2.580313e+07,2.441493e+07,1.847814e+07,1.670325e+07,6.875042e+06,1.792933e+07,1.775838e+07,6.437686e+06,7.289383e+06,7.295551e+06,8.398230e+06,9.377205e+06,1.120570e+07,2.509159e+07,7.901282e+07,2.953008e+07,1.149232e+07
000004,NaN,NaN,NaN,NaN,9.480596e+07,2.117347e+08,2.051317e+08,6.436075e+08,3.330931e+08,3.386076e+08,1.207312e+08,1.256476e+08,1.310066e+08,6.198446e+07,1.212256e+08,1.195350e+08,1.067478e+08,6.137672e+07,4.766864e+07,4.044954e+07,4.331482e+07,6.008060e+07,1.313315e+08,7.450372e+07,9.736330e+07,7.278457e+07,8.060882e+07,1.204544e+08,2.876700e+08,1.386058e+08,3.668688e+08,1.082467e+08
000005,NaN,NaN,NaN,NaN,NaN,3.406867e+07,3.002047e+08,2.508866e+08,1.071974e+08,4.076809e+07,4.157128e+07,1.355727e+08,1.459475e+08,6.712823e+07,5.494323e+07,9.157534e+07,4.937819e+07,4.539573e+07,3.307376e+08,2.990316e+08,1.087203e+08,4.319248e+07,1.372342e+08,6.353484e+07,9.942123e+07,5.206170e+07,5.277699e+07,8.412597e+07,4.818634e+08,5.309222e+08,4.861810e+08,5.526091e+08

In [9]:
df_income_tr.head()

,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
code,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
000001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.869233e+09,1.963738e+09,1.724955e+09,1.812893e+09,2.597464e+09,3.769718e+09,3.850803e+09,5.273549e+09,5.450551e+09,7.135218e+09,1.080750e+10,1.451312e+10,1.511444e+10,1.802228e+10,2.964306e+10,3.974865e+10,5.218900e+10,7.340700e+10,9.616300e+10,1.077150e+11,1.057860e+11,1.167160e+11,1.379580e+11
000002,NaN,NaN,NaN,NaN,NaN,1.084045e+09,1.227544e+09,1.503755e+09,1.177714e+09,1.947641e+09,2.246117e+09,2.872796e+09,3.783669e+09,4.455065e+09,4.574360e+09,6.380060e+09,7.667226e+09,1.055885e+10,1.791833e+10,3.552661e+10,4.099178e+10,4.888101e+10,5.071385e+10,7.178275e+10,1.031162e+11,1.354188e+11,1.463880e+11,1.955491e+11,2.404772e+11,2.428971e+11,2.976793e+11,3.678939e+11
000003,NaN,NaN,0.0,4.686457e+08,7.877559e+08,1.054117e+09,1.072384e+09,9.011976e+08,6.702301e+08,5.260995e+08,5.241975e+08,4.804177e+08,4.647235e+08,3.660670e+07,2.070079e+07,2.580313e+07,2.441493e+07,1.847814e+07,1.670325e+07,6.875042e+06,1.792933e+07,1.775838e+07,6.437686e+06,7.289383e+06,7.295551e+06,8.398230e+06,9.377205e+06,1.120570e+07,2.509159e+07,7.901282e+07,2.953008e+07,1.149232e+07
000004,NaN,NaN,NaN,NaN,9.480596e+07,2.117347e+08,2.051317e+08,6.436075e+08,3.330931e+08,3.386076e+08,1.207312e+08,1.256476e+08,1.310066e+08,6.198446e+07,1.212256e+08,1.195350e+08,1.067478e+08,6.137672e+07,4.766864e+07,4.044954e+07,4.331482e+07,6.008060e+07,1.313315e+08,7.450372e+07,9.736330e+07,7.278457e+07,8.060882e+07,1.204544e+08,2.876700e+08,1.386058e+08,3.668688e+08,1.082467e+08
000005,NaN,NaN,NaN,NaN,NaN,3.406867e+07,3.002047e+08,2.508866e+08,1.071974e+08,4.076809e+07,4.157128e+07,1.355727e+08,1.459475e+08,6.712823e+07,5.494323e+07,9.157534e+07,4.937819e+07,4.539573e+07,3.307376e+08,2.990316e+08,1.087203e+08,4.319248e+07,1.372342e+08,6.353484e+07,9.942123e+07,5.206170e+07,5.277699e+07,8.412597e+07,4.818634e+08,5.309222e+08,4.861810e+08,5.526091e+08

In [10]:
len(df_income_r.index.values) == len(df_income_r.dropna(how='all').index.values)

True

In [11]:
len(df_income_r.index.values)

4109

In [12]:
df_income_r_neg = df_income_r.apply(lambda x: x<0)
df_income_r_neg_list = pd.DataFrame(columns=('code', 'years'))
for code, r in df_income_r_neg.iterrows():
    neg_list = []
    for k in r.keys():
        if r[k]:
            neg_list.append(k)
    if neg_list:
        df_income_r_neg_list = df_income_r_neg_list.append(
            pd.DataFrame({'code': [code], 'years': [neg_list]}), ignore_index=True)
df_income_r_neg_list.to_csv('../../data/revenue/revenue_neg_years.csv', index=False)
df_income_r_neg_list.head()

     code               years
0  000409              [2006]
1  000504  [1996, 1998, 1999]
2  000562              [2005]
3  000572              [1995]
4  300426              [2019]

In [13]:
df_income_tr_neg = df_income_tr.apply(lambda x: x<0)
df_income_tr_neg_list = pd.DataFrame(columns=('code', 'years'))
for code, r in df_income_tr_neg.iterrows():
    neg_list = []
    for k in r.keys():
        if r[k]:
            neg_list.append(k)
    if neg_list:
        df_income_tr_neg_list = df_income_tr_neg_list.append(
            pd.DataFrame({'code': [code], 'years': [neg_list]}), ignore_index=True)
df_income_tr_neg_list.to_csv('../../data/revenue/total_revenue_neg_years.csv', index=False)
df_income_tr_neg_list.head()

     code               years
0  000409              [2006]
1  000504  [1996, 1998, 1999]
2  000562              [2005]
3  000572              [1995]
4  300426              [2019]

In [14]:
df_income_r_count_list = pd.DataFrame(columns=('code', 'counts', 'years'))
df_income_r_not_ct_list = pd.DataFrame(columns=('code', 'years'))
for code, r in df_income_r.iterrows():
    r = r.notnull()
    counts = sum(r)
    years_list = []
    for k in r.keys():
        if r[k]:
            years_list.append(k)
    df_income_r_count_list = df_income_r_count_list.append(
        pd.DataFrame({'code': [code], 'counts': [counts], 'years': [years_list]}), ignore_index=True)
    if not years_list:
        print(code)
    if years_list[-1] - years_list[0] != counts - 1:
        df_income_r_not_ct_list = df_income_r_not_ct_list.append(
            pd.DataFrame({'code': [code], 'years': [years_list]}), ignore_index=True)
df_income_r_count_list.to_csv('../../data/revenue/revenue_counts.csv', index=False)
df_income_r_not_ct_list.to_csv('../../data/revenue/revenue_discontinuous.csv', index=False)
df_income_r_count_list.head()

     code counts                                              years
0  000001     23  [1997, 1998, 1999, 2000, 2001, 2002, 2003, 200...
1  000002     27  [1993, 1994, 1995, 1996, 1997, 1998, 1999, 200...
2  000003     29  [1991, 1992, 1993, 1994, 1995, 1996, 1997, 199...
3  000004     28  [1992, 1993, 1994, 1995, 1996, 1997, 1998, 199...
4  000005     27  [1993, 1994, 1995, 1996, 1997, 1998, 1999, 200...

In [15]:
df_income_r_not_ct_list.head()

     code                                              years
0  000013  [1991, 1992, 1993, 1994, 1995, 1996, 1997, 199...
1  000015  [1991, 1992, 1993, 1994, 1995, 1996, 1997, 199...
2  000024  [1989, 1990, 1991, 1993, 1994, 1995, 1996, 199...
3  000047  [1991, 1992, 1993, 1994, 1995, 1996, 1997, 199...
4  000405  [1993, 1994, 1995, 1996, 1997, 1998, 1999, 200...

In [16]:
df_income_tr_count_list = pd.DataFrame(columns=('code', 'counts', 'years'))
df_income_tr_not_ct_list = pd.DataFrame(columns=('code', 'years'))
for code, r in df_income_tr.iterrows():
    r = r.notnull()
    counts = sum(r)
    years_list = []
    for k in r.keys():
        if r[k]:
            years_list.append(k)
    df_income_tr_count_list = df_income_tr_count_list.append(
        pd.DataFrame({'code': [code], 'counts': [counts], 'years': [years_list]}), ignore_index=True)
    if not years_list:
        print(code)
    if years_list[-1] - years_list[0] != counts - 1:
        df_income_tr_not_ct_list = df_income_tr_not_ct_list.append(
            pd.DataFrame({'code': [code], 'years': [years_list]}), ignore_index=True)
df_income_tr_count_list.to_csv('../../data/revenue/total_revenue_counts.csv', index=False)
df_income_tr_not_ct_list.to_csv('../../data/revenue/total_revenue_discontinuous.csv', index=False)
df_income_tr_count_list.head()

     code counts                                              years
0  000001     23  [1997, 1998, 1999, 2000, 2001, 2002, 2003, 200...
1  000002     27  [1993, 1994, 1995, 1996, 1997, 1998, 1999, 200...
2  000003     30  [1990, 1991, 1992, 1993, 1994, 1995, 1996, 199...
3  000004     28  [1992, 1993, 1994, 1995, 1996, 1997, 1998, 199...
4  000005     27  [1993, 1994, 1995, 1996, 1997, 1998, 1999, 200...

In [17]:
df_income_tr_not_ct_list.head()

     code                                              years
0  000015  [1991, 1992, 1993, 1994, 1995, 1996, 1997, 199...
1  000024  [1989, 1990, 1991, 1993, 1994, 1995, 1996, 199...
2  000405  [1993, 1994, 1995, 1996, 1997, 1998, 1999, 200...
3  000498  [1994, 1995, 1996, 1997, 1998, 1999, 2000, 200...
4  000504  [1989, 1991, 1992, 1993, 1994, 1995, 1996, 199...